APP_NAME="World Voice Teach Frontend"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

WORLDVOICE_BACKEND_URL=http://127.0.0.1:8000
WORLDVOICE_DEFAULT_SOURCE_LANGUAGE=en
WORLDVOICE_DEFAULT_TARGET_LANGUAGE=es
